.header {
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}

#container {
  display: flex;
  flex-wrap: wrap;

  .box {
    display: flex;
    width: 100px;
    height: 200px;
    background-color: red;
    margin: 1px;
  }

  &.horizontal-scroll {
    animation-name: horizontal-scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes horizontal-scroll {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(500px);
  }
  100% {
    transform: translate(0);
  }
}




